* {
    font-family: sans-serif;
    letter-spacing: 4px;
    background-color: rgb(24, 24, 23);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.btn1 {
    width: 200px;
    height: 100px;
    color: lightgray;
    background-color: rgb(101, 223, 132);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 lightseagreen;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    font-size: medium;
}
.btn1:hover {
    box-shadow: rgb(63, 26, 224);
    cursor: pointer;
    color: rgb(14, 230, 14);
    background-color: rgb(3, 51, 58);
}
.btn2 {
    width: 200px;
    height: 100px;
    color: lightgray;
    background-color: rgb(94, 55, 61);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 rgb(76, 32, 178);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    font-size: medium;
    border : 3px solid ;
    z-index: 1;
}
.btn2:hover {
    color: orange;
    cursor: pointer;
    background-color: rgb(23, 0, 128);
}
.btn2:before {
    transition: cubic-bezier(0.19, 1, 0.22, 1);
    position: absolute;
    left: 50%;
    right: 50%;
    background-color: plum;
}
.btn2:hover:before {
    transition: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    left: 0%;
    right: 0%;
    opacity: 1;
    z-index: -1;
}
.btn3 {
    width: 200px;
    height: 100px;
    color: lightgray;
    background-color: rgb(116, 9, 71);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 rgb(173, 20, 166);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    font-size: medium;
    border : 3px solid ;
    z-index: 2;
}
.btn3:hover {
    color: rgb(34, 23, 2);
    cursor: pointer;
    background-color: rgb(219, 74, 7);
}
.btn3:before {
    transition: cubic-bezier(0.19, 1, 0.22, 1);
    position: absolute;
    left: 50%;
    right: 50%;
    background-color: rgb(42, 213, 219);
}
.btn3:hover:before {
    transition: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    left: 0%;
    right: 0%;
    opacity: 1;
    z-index: 0;
}
.btn4 {
    width: 200px;
    height: 100px;
    color: lightgray;
    background-color: rgb(23, 193, 216);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 rgb(85, 17, 82);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    font-size: medium;
    border : 3px solid ;
    z-index: 3;
}
.btn4:hover {
    color: rgb(34, 23, 2);
    cursor: pointer;
    background-color: rgb(56, 209, 18);
}
.btn4:before {
    transition: cubic-bezier(0.19, 1, 0.22, 1);
    position: absolute;
    left: 50%;
    right: 50%;
    background-color: rgb(129, 161, 98);
}
.btn4:hover:before {
    transition: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    left: 0%;
    right: 0%;
    opacity: 1;
    z-index: 1;
}
.btn5 {
    width: 200px;
    height: 100px;
    color: rgb(211, 211, 211);
    background-color: rgb(133, 45, 56);
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 rgb(236, 230, 236);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    font-size: medium;
    border : 3px solid ;
    z-index: 4;
}
.btn5:hover {
    color: rgb(34, 23, 2);
    cursor: pointer;
    background-color: rgb(7, 152, 219);
}
.btn5:before {
    transition: cubic-bezier(0.19, 1, 0.22, 1);
    position: absolute;
    left: 50%;
    right: 50%;
    background-color: rgb(173, 182, 55);
}
.btn5:hover:before {
    transition: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    left: 0%;
    right: 0%;
    opacity: 1;
    z-index: 2;
}