<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biografi</title>
    <link rel="icon" href="../layout/img/utm.png" type="image/png">
    <style>
       
    </style>
</head>
<body>
    <div class="header">
        <h1>Selamat Datang Di Website Kami</h1>
    </div>
    <div class="navigasi">
        <h2>Daftar Link</h2>
        <ul>
            <li><a href="#">link 1</a></li>
            <li><a href="#">link 2</a></li>
            <li><a href="#">link 3</a></li>
        </ul>
    </div>
    <div class="main">
        <h2>Universitas Trunojoyo Madura</h2>
        <img src="../layout/img/utm.png" alt="utm" width="200">
        <p>Keputusan Rektor nomor 211/UN46/HK.02/2020 tentang Keringan UKT hanya berlaku untuk Semester Gasal TA 2020/2021 maka Mahasiswa yang mendapatkan Keringanan UKT pada Semester Gasal TA. 2020/2021 tidak diperpanjang dan dapat mengajukan kembali pada Semester Genap TA. 2020/2021.</p>
        <p>Mahasiswa yang telah disetujui pengajuan Pembebasan sementara ( Penundaan) pembayaran UKT pada Gasal TA. 2020/2021 untuk melunasi pembayaran UKT paling lambat tanggal 2 Februari 2021.</p>
    </div>
    <div class="copyright">
        <p>Copyright 2021, Farisul Haq</p>
    </div>
</body>
</html>