/* menyeleksi semua elemen */
*{
    /* penerapan konsep box model agar width di hitung sampai border bukan hanya di konten */
    box-sizing:border-box;
    /* memberikan efek scroll yang mulus */
    scroll-behavior: smooth;
    /* mereset property dan value default pada elemen HTML */
    margin:0px;
    padding:0px;
}
body{
    /* mengatur jenis font dan background body */
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(219, 218, 218);
}
/* pengaturan style pada header */
header{
    padding-top: 10px;
    height:80px;
    width:100%;
    background-color: rgb(241, 18, 18);
    color:white;
    margin-bottom:5px;
}
/* style untuk heading pada header */
header h1{
    margin-left:10px;
    font-size:40px;
}
/* style untuk kalimat dibawah heading pada header */
header span{
    font-size: 13px;
    margin-top:-100px;
    margin-left:10px;

}
/* pengatur jarak nav pada elemen lain */
nav{
    margin: 5px 5px 5px 10px;
}
/* pengaturan style pada link yang dibuat jadi tombol */
nav a{
    /* menghilangkan garis bawah dan atribut lain pada link */
    text-decoration: none;
    /* membuat tampilan link menjadi tombol */
    appearance: button;
    /* memberikan warna background dan teks */
    background-color: rgb(241, 18, 18);
    color:white;
    /* mengatur tinggi dan lebar */
    height:30px;
    width:100px;
    /* mengatur perataan teks secara horizontal dan vertical */
    text-align:center;
    line-height:30px;
}
/* mengatur perilaku elemen ketika mouse berada di atasnya */
nav a:hover{
    background-color: white;
    color:rgb(241, 18, 18);
    border:1px solid rgb(241, 18, 18);
    height:28px;
    width:98px;
    line-height: 28px;
    margin-right:2px;
}
/* pengaturan pada bagian main */
main{
    margin: 10px 10px 30px 10px;
    height:480px;
    width:70%;
    background-color: white;
    box-shadow: 0px 3px 5px 2px gray;
}
/* pengaturan gambar pada bagian main */
main img{
    height:250px;
    width:400px;
    margin:10px;
}
/* penagaturan info seperti jadwal, arena, dll */
main .info{
    display: inline-block;
    vertical-align: top;
    margin:10px;
    font-size:15px;
}
main .info span{
    display:block;
}
/* pengaturan kalimat pada bagian main */
main p{
    margin:10px;
    font-size:15px;
}
/* pengaturan style tombol pada bagian main */
main .order{
    float:right;
    text-decoration:none;
    appearance: button;
    height:36px;
    width:130px;
    background-color: rgb(13, 202, 13);
    color:white;
    line-height: 36px;
    text-align:center;
    font-size:18px;
    margin:33px 20px 10px 10px;
    border-radius: 6px;
}
main .order:hover{
    background-color: rgb(0, 170, 0);
}
/* bagian sidebar */
aside{
    height:500px;
    width:22%;
    float:right;
    margin-right:20px;
    /* scroll pada sidebar secara vertical */
    overflow-y:scroll;
    /* bayangan pada sidebar */
    box-shadow: 2px 2px 2px gray;
    clear:both;
}
/* pengaturan style pada sidebox */
aside .sidebox{
    height:250px;
    width:250px;
    background-color: white;
    margin:10px auto;
    box-shadow: 0px 3px 5px 2px gray;
}
aside .sidebox img{
    height:140px;
    width:230px;
    margin:10px;
}
aside .sidebox span{
    /* display block agar elemen secara otomatis menambahkan garis baru */
    display:block;
    font-size:13px;
    margin-left:10px;
}
aside .sidebox .more{
    margin-top:25px;
}
aside .sidebox .harga{
    /* agar tak ditambahkan baris baru setelah elemen */
    display:inline-block;
}
/* pengaturan style tombol pada sidebox */
aside .sidebox .preorder{
    appearance: button;
    text-decoration:none;
    color:white;
    background-color:rgb(13, 202, 13);
    height:25px;
    width:80px;
    line-height: 25px;
    text-align:center;
    margin-left:70px;
    border-radius:4px;
    font-size:13px;
}
aside .sidebox .preorder:hover{
    background-color: rgb(0, 170, 0);
}
aside .cs{
    line-height:250px;
    text-align:center;
    font-style:italic;
}
aside .cs span{
    font-size:20px;
    color:rgb(73, 72, 72);
}
/* style pada bagian footer */
footer{
    clear:both;
    height:100px;
    background-color: red;
}
footer p{
    line-height:100px;
    text-align: center;
    color:white;
}

/*style untuk form*/

div.content{
    margin: 15px 450px 5px 5px;
}
form {
    background-color: white;
    padding: 50px;
    width: 100%;
    margin: 5px;
    box-shadow: 0px 3px 5px 2px gray;
}
div.content h1{
    text-align: center;
    font-size: 40px;
}
div.texbox {
    display: flex;
    /*Agar posisi dan tampilan mudah diatur*/
    flex-direction: column;
    /*Mengatur Arah alur menjadi kolom*/
    margin-bottom: 30px;
}
div.radio img{
    height: 20px;
    width: 62px;
}
div.bdate {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
div.radio {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
label{
    margin-bottom: 10px;
}
input{
    border: 0px;
    border-bottom: 1px solid #d0d2e2;
    line-height: 2;
    padding: 5px;
}
select{
    border: 1px solid #d0d2e2;
    line-height: 2;
    padding: 5px;
    border-radius: 5px;
    width:80px;
}
.telp{
    display: flex;
    flex-direction: row;
}
#telep{
    width:700px;
    margin-left:10px;
}
h2{
    text-align: center;
}
.button {
    width: 100%;
    background: blue;
    color: white;
    padding: 15px;
    border: 2px solid white;
    font-size: 18px;
    cursor: pointer;
}
aside.reg{
    height:880px;
}
.texbox span {
    font-size: 12px;
    color: red;
    visibility: hidden;
}